

<div *ngIf="item"    class="col-6 col-md-3"
class="card" >
<img class="card-img-top" src={{item.image}} alt="Card image cap">
    <div class="card-body">

      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.text}}.</p>
      <p class="card-date">{{item.date}}.</p>
    </div>
  </div>
 
