
<h1>Article</h1>

<div class="row g-4 m-4" >

  <div *ngFor="let article of article" class="col-12 col-md-3">
      
<div class="card">
    <img class="card-img-top" src={{article.image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{article.title}}</h5>
      <p class="card-text">{{article.text}}</p>
      <p class="card-text">{{article.date}}</p>
      <br /><br /><br />
      <hr />
      <br /><br /><br />

      <a href="#" class="btn btn-primary" routerLink="/article/{{article.id}}">En savoir plus</a>
      <button (click)="delete(article.id!)" type="button" class="btn btn-danger">Delete</button>
      <button (click)="showEditForm(modifiedAr)" type="button" class="btn btn-info">Update</button>
     

       <!-- trocar para outra pagina  -->

      <div *ngIf="displayEditForm">
        <h2>Modification de l'opération</h2>
        <form (ngSubmit)="update(modifiedAr)">
            <label for="title">Title :</label>
            <input [(ngModel)]="modifiedAr.title" type="title" name="title" id="title">
            <br>
            <label for="text">Text:</label>
            <input [(ngModel)]="modifiedAr.text" type="text" name="text" id="text">
            <br>
            <label for="image">Image :</label>
            <input [(ngModel)]="modifiedAr.image" type="image" name="image" id="image">
            <br> 
            <label for="date">Date:</label>
            <input [(ngModel)]="modifiedAr.date" type="date" name="date" id="date">
            <br>
            <input type="submit" value="Save" />
          </form>
    </div>
    <!-- <br /><br /><br />
    <hr />
    <br /><br /><br /> -->
    
    <!-- trocar para outra pagina  -->

    </div>
  </div> 
  </div>
  

  
  


