<h1>Add/Register</h1>


<form (ngSubmit)="addOperation()">
<div class="mb-">
    <label for="exampleFormControlInput1" class="form-label">Title</label>
    <input type="text" name="Title" class="form-control" id="exampleFormControlInput1"
     placeholder="Title" [(ngModel)]="article.title">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Date</label>
    <input type="date" name="date" class="form-control" id="exampleFormControlInput1" 
    placeholder="Date" [(ngModel)]="article.date">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Image</label>
    <input type="text" name="image" class="form-control" id="exampleFormControlInput1" placeholder="Img" [(ngModel)]="article.image">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Text</label>
    <textarea class="form-control" [(ngModel)]="article.text" name="text" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button class="btn btn-secondary">Add Article</button>
</form>